 * {
    font-family: "Noto Sans KR", serif;
    font-weight: 400;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
}


.wrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    display: flex;
    padding: 8px;
}

/* 상단 좌측 로고 영역 */
.header__menu {
    max-width: 280px;
    width: 100%;
    display: flex;
    background-color: #f6f8fc;
    align-items: center;
    gap: 4px;
}

#menu__button {
    padding: 10px;
    border-radius: 50%;
    display: flex;
    background-color: #f1f1f1;
}

#menu__button .menu__icon {
    font-size: 26px;
}

.header__menu .header__logo {
    font-size: 26px;
}

/* ************** */

/* nav영역 span태그(텍스트) 숨김 */
.text__active {
    display: none;
}

#mail__nav.nav__active {
    align-items: center;
    width: auto;
}

#nav__menu .item__active {
    border-radius: 50%;
}

/* ************** */



/* 상단 검색바 영역 */
.header__search {
    display: flex;
    align-items: center;
    flex: 1 1 100%;
    background-color: #f6f8fc;
}

.search__container {
    height: 48px;
    background-color: #eaf1fb;
    border-radius: 30px;
    display: flex;
    padding: 8px;
}

.search__button {
    padding: 6px;
    border-radius: 50%;
}

.search__button:hover {
    background-color: #f1f1f1;
}

.search__input {
    width: 680px;
    border: none;
    padding: 0 6px;
    font-size: 16px;
    background-color: transparent;
}


/* input 포커스 스타일 초기화 */
input[type="search"]:focus {
    outline: none;
    box-shadow: none;
}


.search__icon {
    border-radius: 50%;
    font-size: 20px;
}


/* 상단 우측 로그인정보 */
.header__user-info {
    display: flex;
    width: 280px;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.user-info__icon {
    font-size: 24px;
}

.user-info__name {
    background-color: black;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* mail 영역 */

#mail {
    flex-grow: 1;
    display: flex;
}

#mail__nav {
    background-color: #f6f8fc;
    max-width: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#nav__send {
    padding: 8px;
}

#send__button {
    padding: 12px;
    background-color: #c2e7ff;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#send__button:hover {
    box-shadow: 0 3px 6px rgba(143, 143, 143, 0.3);
}

#send__button .button__icon {
    font-size: 26px;
}

.button__text {
    font-size: 14px;
    margin-left: 14px;
}


/* 좌측 메뉴 영역 */
#nav__menu {
    flex-grow: 1;
/* 남은 공간 채움 */
}

.menu__item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    background-color: #d3e3fd;
    border-radius: 0 20px 20px 0;
}

.menu__item:not(:first-child) {
    background-color: #e6e6e6;

}

.item__inner {
    height: 24px;
    margin: 0 16px;
    display: flex;
    align-items: center;
}

.menu__item {
    background-color: #d3e3fd;
    border-radius: 0 20px 20px 0;
}

.inner__active {
    border-radius: 50%;
    margin: 0 4px;
}

.item__icon {
    font-size: 18px;
}

.item__text {
    font-size: 14px;
}

/* 좌측 하단 다크모드 */
.nav__bottom {
    padding: 0 8px;
    margin-bottom: 10px;

}

#bottom__button {
    display: flex;
    justify-content: center;
    background-color: #c2e7ff;
    border-radius: 50%;
    padding: 12px;
}

#bottom__button .button__icon {
    font-size: 26px;
}

/* 메일 목록 영역 */
.mail__list {
    background-color: #fff;
    flex-grow: 1;
    border-radius: 10px;
    /* border: 1px solid #000; */
    padding: 14px;
}

/* 메일 목록 영역, 상단 툴바 */
.list__toolbar {
    display: flex;
    justify-content: space-between;
}

.toolbar__row {
    display: flex;
    gap: 10px;
}

.row__item {
    display: flex;
    align-items: center;
}

.row__item .text {
    font-size: 14px;
}

.row__item>button {
    display: flex;
    align-items: center;
}

.row__item.action>button>span {
    font-size: 16px;
}

.row__item--pagination>button>span {
    font-size: 12px;
}

.row__item--text {
    display: flex;
    align-items: center;
}

.row__item--text>span {
    font-size: 12px;
}

/* 메일 목록 영역 */

.list__content {
    margin-top: 18px;
}

.content__filter {
    display: flex;
}

.filter__button {
    width: 190px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.filter__button>span {
    font-size: 14px;
}

.filter__button>span:first-child {
    margin-right: 10px;
}

.filter__button.default {
    color: #0b57d0;
    border-bottom: 3px solid #0b57d0;
}

/* 메일 테이블 */

.content__table {
    display: flex;
}

.content__table-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.table__row {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-grow: 1;
    border-top: 1px solid #f1f1f1;
    padding: 8px;
}

.table__row:last-child {
    border-bottom: 1px solid #f1f1f1;
}

.table__cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-button {
    display: flex;
}

.favorite-button>span {
    font-size: 20px;
}

.table__cell>span {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table__cell:not(:first-child) {
    margin-left: 10px;
}

.table__cell.name {
    min-width: 120px;
}

.table__cell.title {
    min-width: 120px;
    flex-grow: 1;
}

.table__cell.time {
    min-width: 80px;
    display: flex;
    justify-content: center;
}

/* 우측 사이드바 */
.main__side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    gap: 14px;
}

.main__side-bar>button {
    display: flex;
    padding: 8px;
}

.main__side-bar>button:hover {
    border-radius: 50%;
    background-color: #e6e6e6;
}

.main__side-bar>button>span {
    font-size: 18px;
}