 * {
     font-family: "Noto Sans KR", serif;
     font-weight: 400;
     overflow: hidden;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #f6f8fc;
 }

 button {
     all: unset;
     box-sizing: border-box;
     cursor: pointer;
 }

 input {
     border: none
 }

 input:focus {
     outline: none;
     box-shadow: none;
 }

 textarea {
     border: none;
     outline: none;
     resize: none;
 }

 #content-wrap {
     display: flex;
     flex-direction: column;
     height: 100vh;
 }

 #header {
     display: flex;
     padding: 8px 0;
 }

 /* 상단 좌측 로고 영역 */
 .header__menu {
     max-width: 280px;
     width: 100%;
     display: flex;
     background-color: #f6f8fc;
     align-items: center;
     gap: 4px;
 }

 #menu__button {
     margin-left: 10px;
     padding: 10px;
     border-radius: 50%;
     display: flex;
     background-color: #f1f1f1;
 }

 #menu__button .menu__icon {
     font-size: 26px;
 }

 .header__menu .header__logo {
     font-size: 26px;
 }

 /* ************** */

 /* nav영역 span태그(텍스트) 숨김 */
 .text__active {
     display: none;
 }

 #mail__nav.nav__active {
     align-items: center;
     width: auto;
 }

 #nav__menu .item__active {
     border-radius: 50%;
 }

 /* ************** */



 /* 상단 검색바 영역 */
 .header__search {
     display: flex;
     align-items: center;
     flex: 1 1 100%;
     background-color: #f6f8fc;
 }

 .search__container {
     background-color: #eaf1fb;
     border-radius: 30px;
     display: flex;
     padding: 10px;
 }

 .search__button {
     display: flex;
     padding: 8px;
     border-radius: 50%;
 }

 .search__button:hover {
     background-color: #dde3ec;
 }

 .search__input {
     width: 680px;
     border: none;
     padding: 0 6px;
     font-size: 16px;
     background-color: transparent;
 }




 .search__icon {
     /* border-radius: 50%; */
     font-size: 20px;
 }


 /* 상단 우측 로그인정보 */
 .header__user-info {
     display: flex;
     max-width: 280px;
     width: 100%;
     align-items: center;
     justify-content: end;
     gap: 10px;
     margin-right: 10px;
 }

 .header__user-info button {
     display: flex;
     align-items: center;
 }

 .user-info__icon {
     font-size: 24px;
 }

 .user-info__name {
     background-color: black;
     color: #fff;
     border-radius: 50%;
     padding: 8px;
     display: flex;
     align-items: center;
     justify-content: center;

 }
 .user-info__name span {
    font-size : 14px;

 }
 /* mail 영역 */

 #mail {
     flex-grow: 1;
     display: flex;
 }



 /* 모달 회색 화면 */
 #modal-bg {

     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #454847;
     opacity: .5;
     display: none;
 }


 /* 이코드 위치옮겨야함 */
 #mail-box__wrap {
     position: absolute;
     bottom: 0;
     right: 0;
     display: none;
     z-index: 9999;
 }

 #mail-box {
     width: 600px;
     height: 630px;
     border-radius: 14px;
     background-color: #ffffff;
     margin-right: 100px;

     display: flex;
     flex-direction: column;
     box-shadow: 2px 1px 11px rgba(0, 0, 0, 0.2);
 }

 #mail-box__wrap.box-wrap__active {
     bottom: auto;
     right: auto;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 #mail-box.box__active {
     width: 1280px;
     height: 800px;
     margin-right: 0;
 }

 /* 메일 보내기 화면 헤더 영역 (축소,확대,취소버튼) */
 .mail-box__header {
     display: flex;
     justify-content: space-between;
     padding: 10px;
     background-color: #c2e7ff;
 }

 .mail-box__controls>button>span {
     font-size: 18px;
 }

 .mail-box__body {
     height: 100%;
     padding: 0 12px;
     display: flex;
     flex-direction: column;
 }

 .mail-box__recipient,
 .mail-box__subject {
     height: 70px;
     /* border: 1px solid green; */
 }


 .mail-box__body input {
     /* padding: 0 8px; */
     width: 100%;
     height: 100%;
     border-bottom: 1px solid #f1f1f1;

 }

 .mail-box__content {
     margin-top: 10px;
     flex: 1 1 100%;


 }

 .mail-box__content textarea {
     width: 100%;
     height: 100%;
     /* background-color: #e4e4e4; */
 }

 /* 새메일 화면 - 에디터 툴 아이콘 */
 /* .mail-box__editor {
    background-color: rgb(255, 191, 191);
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 5px;

    display: flex;
}
.mail-box__editor-row {
    display: flex;
    align-items: center;
} */




 /* 새메일 하단 메뉴 ( 보내기,휴지통 등)  */
 .mail-box__actions {
     display: flex;
     align-items: center;
     padding: 12px 0;
     margin: 10px 0;
 }

 .actions__submit {
     display: flex;
     font-size: 14px;
     height: 36px;
 }

 .actions__submit>button:first-child {
     background-color: #0b57d0;
     color: #fff;
     border-radius: 20px 0 0px 20px;
     width: 80px;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .actions__submit>button:last-child {
     background-color: #0b57d0;
     color: #fff;
     border-radius: 0 20px 20px 0;
     border-left: 1px solid #000;
     width: 40px;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .actions__tools {
     flex: 1;
 }

 .actions__tools>span,
 .actions__delete>span {
     font-size: 20px;
     padding: 4px;
     cursor: pointer;
     border-radius: 4px;
     color: #454847;
 }

 .actions__tools>span:last-child {
     padding: 4px 2px;
     font-size: 20px;
 }

 .actions__tools>span:hover,
 .actions__delete>span:hover {
     background-color: #f1f1f1;
 }

 .actions__tools,
 .actions__delete {
     display: flex;
     align-items: center;
 }

 .actions__tools {
     border-left: 2px solid #f1f1f1;
     padding-left: 4px;
     margin-left: 16px;
 }

 #mail__nav {
     background-color: #f6f8fc;
     max-width: 280px;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 #nav__send {
     padding: 8px;
 }

 #send__button {
     padding: 12px;
     background-color: #c2e7ff;
     border-radius: 14px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 #send__button:hover {
     box-shadow: 0 3px 6px rgba(143, 143, 143, 0.3);
 }

 #send__button .button__icon {
     font-size: 26px;
 }

 .button__text {
     font-size: 14px;
     margin-left: 14px;
 }


 /* 좌측 메뉴 영역 */
 #nav__menu {
     flex-grow: 1;
     /* 남은 공간 채움 */
     padding-right: 14px;
 }

 #nav__menu.menu__active {
     padding-right: 0;
 }

 .menu__item {
     display: flex;
     align-items: center;
     padding: 8px;
     cursor: pointer;
     border-radius: 0 20px 20px 0;
 }

 .menu__item:first-child {
     background-color: #d3e3fd;
 }

 .menu__item:not(:first-child):hover {
     background-color: #e6e6e6;
 }

 .item__inner {
     height: 24px;
     margin: 0 16px;
     display: flex;
     align-items: center;
 }



 .inner__active {
     border-radius: 50%;
     margin: 0 4px;
 }

 .item__icon {
     font-size: 18px;
 }

 .item__text {
     font-size: 14px;
 }

 /* 좌측 하단 다크모드 */
 .nav__bottom {
     padding: 0 8px;
     margin-bottom: 10px;

 }

 #bottom__button {
     display: flex;
     justify-content: center;
     background-color: #c2e7ff;
     border-radius: 50%;
     padding: 12px;
 }

 #bottom__button .button__icon {
     font-size: 26px;
 }

 /* 메일 목록 영역 */
 .mail__list {
     background-color: #fff;
     flex-grow: 1;
     border-radius: 10px;
     /* border: 1px solid #000; */
     padding: 14px;
     margin-bottom: 10px;
     overflow-y: scroll;
 }




 /* 메일 목록 영역, 상단 툴바 */
 .list__toolbar {
     display: flex;
     justify-content: space-between;
 }

 .toolbar__row {
     display: flex;
     gap: 10px;
 }

 .toolbar__row .row__item {
     display: flex;
     align-items: center;
 }

 .toolbar__row .row__item>button {
     display: flex;
     align-items: center;
 }

 .toolbar__row .row__item.action>button>span {
     font-size: 16px;
 }

 .toolbar__row .row__item--pagination>button>span {
     font-size: 12px;
 }

 .toolbar__row .row__item--text {
     display: flex;
     align-items: center;
 }

 .toolbar__row .row__item--tex>span {
     font-size: 12px;
 }

 /* 메일 목록 영역 */

 .list__content {
     margin-top: 18px;
 }

 .content__filter {
     display: flex;
 }

 .filter__button {
     width: 190px;
     height: 50px;
     display: flex;
     align-items: center;
     padding: 0 10px;
 }

 .filter__button>span {
     font-size: 14px;
 }

 .filter__button>span:first-child {
     margin-right: 10px;
 }

 .filter__button.default {
     color: #0b57d0;
     border-bottom: 3px solid #0b57d0;
 }

 /* 메일 테이블 */

 .content__table {
     display: flex;
 }

 .content__table-body {
     width: 100%;
     display: flex;
     flex-direction: column;
     flex-grow: 1;
 }

 .table__row {
     flex-grow: 1;
     width: 100%;
     display: flex;
     flex-grow: 1;
     border-top: 1px solid #f1f1f1;
     padding: 8px;
 }

 .table__row:last-child {
     border-bottom: 1px solid #f1f1f1;
 }

 .table__cell {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .favorite-button {
     display: flex;
 }

 .favorite-button>span {
     font-size: 20px;
 }

 .table__cell>span {
     font-size: 14px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 .table__cell:not(:first-child) {
     margin-left: 10px;
 }

 .table__cell.name {
     min-width: 120px;
 }

 .table__cell.title {
     min-width: 120px;
     flex-grow: 1;
 }

 .table__cell.time {
     min-width: 80px;
     display: flex;
     justify-content: center;
 }





 /* 우측 사이드바 */
 .main__side-bar {
     min-width: 62px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 14px;
     margin-top: 10px;
 }

 .main__side-bar > button {
     display: flex;
     padding: 10px;
 }

 .main__side-bar>button:hover {
     border-radius: 50%;
     background-color: #e6e6e6;
 }

 .main__side-bar>button>span {
     font-size: 18px;
 }


 /* 로딩화면 CSS 영역 시작 */


 #loading-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    background-color: #fff;
}

.container {
    border-radius: 22px 22px 15px 15px;
    height: 153px;
    width: 220px;

    overflow: hidden;
    position: relative;
    z-index: 9999;
}

.container * {
    width: 100%;
    height: 100%;
    position: absolute;
}

.side {
    width: 50px;
    height: 142px;
    left: 0;
    top: 41px;
    background-color: #4285f4;
}

.top {
    width: 110px;
    height: 65px;
    top: 19px;
    left: 0;
    transform: skew(0, 37deg);
    /* X축 0, Y축 세로방향 37도 기울임 */
    background-color: #c5221f;
}

.middle {
    background: #ea4335;
    left: 50px;
    width: 60px
}

.reverse {
    transform: scale(-1, 1);
    /*x축 반대방향 반전('-1'= 반대방향, '1' 기본크기),*/
}

.reverse .side {
    background-color: #34a853;
}

.reverse .top {
    background-color: #fbbc04;
}

.circle {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    background-color: #ebebeb;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
    transform-origin: center;
    animation: circle-ani 1s ease-in-out;
    opacity: 0;
}

.progress-bar {
    margin-top: 40px;
    width: 320px;
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
}

.progress-bar div {
    width: 0%;
    height: 100%;
    background-color: #e74f4b;
    animation: progress-ani 1s linear;
}


@keyframes circle-ani {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}

@keyframes progress-ani {
    0% { width: 0; opacity: 0; }
    30% { width: 0; opacity: 1; }
    50% { width: 30%; }
    80% { width: 100%; }
    100% { width: 100%; }
}

 /* 로딩화면 CSS 영역 끝 */